{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@shared/core": "../../packages/shared"
        },
        "extensions": [".web.ts", ".web.tsx", ".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    ]
  ]
}