body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

input,
select,
textarea,
button {
  font-family: "Manrope", sans-serif;
}

.roboto-thin {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.ag-theme-quartz {
  --ag-borders: none;
  --ag-header-column-separator-display: none;
  --ag-header-column-resize-handle-display: none;
  --ag-row-border-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
